In [1]:
import pandas as pd

In [2]:
disengagements = pd.read_excel("../data/cassi-autonomous-shuttle/autonomous_shuttle_disengagement.xlsx",usecols=["Incident Datetime", "Location","Weather","Vehicle Speed", "Initiated by","Cause"], parse_dates=True)
disengagements

,Incident Datetime,Location,Weather,Vehicle Speed,Initiated by,Cause
0,03/07/2023 10:00:00 AM,"(35.7849964, -78.8268094)",Sunny;,2,Operator,Fault Code/Error Code
1,03/07/2023 02:00:00 PM,"(35.7847312, -78.8245051)",Sunny;,5,Operator,Station Blocked
2,03/07/2023 03:15:00 PM,"(35.7824658, -78.8244159)",Sunny;,4,Operator,Station Blocked
3,03/07/2023 04:15:00 PM,"(35.7824658, -78.8244159)",Sunny;,5,Operator,Station Blocked
4,03/08/2023 10:00:00 AM,"(35.7852558, -78.8273737)",Sunny;,2,Operator,Shuttle Manually Deviated From Approved Path
...,...,...,...,...,...,...
174,06/01/2023 11:44:00 AM,"(35.784753, -78.824509)",Sunny;,3,Operator,Vegetation
175,06/02/2023 10:32:00 AM,"(35.7819145, -78.8235603)",Sunny;,4,Operator,Station Blocked
176,06/02/2023 10:35:00 AM,"(35.7813188, -78.8256601)",Sunny;,3,Operator,Station Blocked
177,06/02/2023 10:44:00 AM,"(35.7847325, -78.8244960)",Sunny;,4,Operator,Obstacle Detection
178,06/02/2023 11:01:00 AM,"(35.7841086, -78.8261962)",Sunny;,3,Operator,Fault Code/Error Code

In [3]:
disengagements.dtypes

Incident Datetime    object
Location             object
Weather              object
Vehicle Speed         int64
Initiated by         object
Cause                object
dtype: object

In [4]:
disengagements['Incident Datetime'] = pd.to_datetime(disengagements['Incident Datetime'])
disengagements.dtypes

Incident Datetime    datetime64[ns]
Location                     object
Weather                      object
Vehicle Speed                 int64
Initiated by                 object
Cause                        object
dtype: object

In [5]:
disengagements = disengagements.assign(week_of_year = disengagements['Incident Datetime'].dt.isocalendar().week, week_of_pilot = lambda x: disengagements['Incident Datetime'].dt.isocalendar().week - 9)
disengagements

,Incident Datetime,Location,Weather,Vehicle Speed,Initiated by,Cause,week_of_year,week_of_pilot
0,2023-03-07 10:00:00,"(35.7849964, -78.8268094)",Sunny;,2,Operator,Fault Code/Error Code,10,1
1,2023-03-07 14:00:00,"(35.7847312, -78.8245051)",Sunny;,5,Operator,Station Blocked,10,1
2,2023-03-07 15:15:00,"(35.7824658, -78.8244159)",Sunny;,4,Operator,Station Blocked,10,1
3,2023-03-07 16:15:00,"(35.7824658, -78.8244159)",Sunny;,5,Operator,Station Blocked,10,1
4,2023-03-08 10:00:00,"(35.7852558, -78.8273737)",Sunny;,2,Operator,Shuttle Manually Deviated From Approved Path,10,1
...,...,...,...,...,...,...,...,...
174,2023-06-01 11:44:00,"(35.784753, -78.824509)",Sunny;,3,Operator,Vegetation,22,13
175,2023-06-02 10:32:00,"(35.7819145, -78.8235603)",Sunny;,4,Operator,Station Blocked,22,13
176,2023-06-02 10:35:00,"(35.7813188, -78.8256601)",Sunny;,3,Operator,Station Blocked,22,13
177,2023-06-02 10:44:00,"(35.7847325, -78.8244960)",Sunny;,4,Operator,Obstacle Detection,22,13
178,2023-06-02 11:01:00,"(35.7841086, -78.8261962)",Sunny;,3,Operator,Fault Code/Error Code,22,13

In [6]:
disengagements_datetime_is_index = disengagements.set_index('Incident Datetime')
disengagements_datetime_is_index

,Location,Weather,Vehicle Speed,Initiated by,Cause,week_of_year,week_of_pilot
Incident Datetime,,,,,,,
2023-03-07 10:00:00,"(35.7849964, -78.8268094)",Sunny;,2,Operator,Fault Code/Error Code,10,1
2023-03-07 14:00:00,"(35.7847312, -78.8245051)",Sunny;,5,Operator,Station Blocked,10,1
2023-03-07 15:15:00,"(35.7824658, -78.8244159)",Sunny;,4,Operator,Station Blocked,10,1
2023-03-07 16:15:00,"(35.7824658, -78.8244159)",Sunny;,5,Operator,Station Blocked,10,1
2023-03-08 10:00:00,"(35.7852558, -78.8273737)",Sunny;,2,Operator,Shuttle Manually Deviated From Approved Path,10,1
...,...,...,...,...,...,...,...
2023-06-01 11:44:00,"(35.784753, -78.824509)",Sunny;,3,Operator,Vegetation,22,13
2023-06-02 10:32:00,"(35.7819145, -78.8235603)",Sunny;,4,Operator,Station Blocked,22,13
2023-06-02 10:35:00,"(35.7813188, -78.8256601)",Sunny;,3,Operator,Station Blocked,22,13
2023-06-02 10:44:00,"(35.7847325, -78.8244960)",Sunny;,4,Operator,Obstacle Detection,22,13
2023-06-02 11:01:00,"(35.7841086, -78.8261962)",Sunny;,3,Operator,Fault Code/Error Code,22,13

In [7]:
disengagements_datetime_is_index.dtypes

Location         object
Weather          object
Vehicle Speed     int64
Initiated by     object
Cause            object
week_of_year     UInt32
week_of_pilot    UInt32
dtype: object

In [8]:
one_hot = disengagements_datetime_is_index.Weather.str.get_dummies(sep=';')
one_hot

                     Cloudy  Partly Cloudy  Rain  Sunny  Windy
Incident Datetime
2023-03-07 10:00:00       0              0     0      1      0
2023-03-07 14:00:00       0              0     0      1      0
2023-03-07 15:15:00       0              0     0      1      0
2023-03-07 16:15:00       0              0     0      1      0
2023-03-08 10:00:00       0              0     0      1      0
...                     ...            ...   ...    ...    ...
2023-06-01 11:44:00       0              0     0      1      0
2023-06-02 10:32:00       0              0     0      1      0
2023-06-02 10:35:00       0              0     0      1      0
2023-06-02 10:44:00       0              0     0      1      0
2023-06-02 11:01:00       0              0     0      1      0

[179 rows x 5 columns]

In [9]:
one_hot.columns = 'Weather_' + one_hot.columns
one_hot

,Weather_Cloudy,Weather_Partly Cloudy,Weather_Rain,Weather_Sunny,Weather_Windy
Incident Datetime,,,,,
2023-03-07 10:00:00,0,0,0,1,0
2023-03-07 14:00:00,0,0,0,1,0
2023-03-07 15:15:00,0,0,0,1,0
2023-03-07 16:15:00,0,0,0,1,0
2023-03-08 10:00:00,0,0,0,1,0
...,...,...,...,...,...
2023-06-01 11:44:00,0,0,0,1,0
2023-06-02 10:32:00,0,0,0,1,0
2023-06-02 10:35:00,0,0,0,1,0
2023-06-02 10:44:00,0,0,0,1,0
2023-06-02 11:01:00,0,0,0,1,0

In [10]:
disengagements_datetime_is_index = disengagements_datetime_is_index.drop(['Weather', 'Initiated by'], axis=1)
cassi_data = pd.concat([disengagements_datetime_is_index, one_hot], axis=1)
cassi_data

,Location,Vehicle Speed,Cause,week_of_year,week_of_pilot,Weather_Cloudy,Weather_Partly Cloudy,Weather_Rain,Weather_Sunny,Weather_Windy
Incident Datetime,,,,,,,,,,
2023-03-07 10:00:00,"(35.7849964, -78.8268094)",2,Fault Code/Error Code,10,1,0,0,0,1,0
2023-03-07 14:00:00,"(35.7847312, -78.8245051)",5,Station Blocked,10,1,0,0,0,1,0
2023-03-07 15:15:00,"(35.7824658, -78.8244159)",4,Station Blocked,10,1,0,0,0,1,0
2023-03-07 16:15:00,"(35.7824658, -78.8244159)",5,Station Blocked,10,1,0,0,0,1,0
2023-03-08 10:00:00,"(35.7852558, -78.8273737)",2,Shuttle Manually Deviated From Approved Path,10,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-01 11:44:00,"(35.784753, -78.824509)",3,Vegetation,22,13,0,0,0,1,0
2023-06-02 10:32:00,"(35.7819145, -78.8235603)",4,Station Blocked,22,13,0,0,0,1,0
2023-06-02 10:35:00,"(35.7813188, -78.8256601)",3,Station Blocked,22,13,0,0,0,1,0
2023-06-02 10:44:00,"(35.7847325, -78.8244960)",4,Obstacle Detection,22,13,0,0,0,1,0
2023-06-02 11:01:00,"(35.7841086, -78.8261962)",3,Fault Code/Error Code,22,13,0,0,0,1,0